html {
	background-color: black;
}
#page, #activites { /*ajout id service.html*/
	width: 1000px;
	margin: auto;
	background-color: #DCDCDC;
	box-shadow: -6px 0px 6px #DCDCDC, 6px 0px 6px #DCDCDC;
}

body {
	font-family: verdana, "dejavu sans", "bitstream vera sans", geneva, sans-serif;
}

nav {
	position: fixed;
    display: grid;
    width: 100%;
    display: flex; 
    justify-content: space-around; 
    background-color: black;
    top: -7px;
}

nav li {
    display: inline-block;
    background-color: black;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

nav li:hover {
    background-color: #545454;
}
article {

}

h1 {
	font-family: impact, "arial black", sans-serif;
	text-align: center;

}

h2{
	text-align: center;
	font-family: URW Chancery L, cursive;
}
.boat {
	margin-top: 60px;
}

.sousListe li{
    list-style-type: '- ';
}

.carac {
	width: 40%;
    background: linear-gradient(#2B75B6, #BCD2CF);
    border-radius: 8px;
    padding: 15px;
    text-align: justify;
    color: white;
    box-shadow: 5px 5px 5px silver;
}
.photo3 {
	text-align: right;
	
}

 .crew{
    width: 40%;
    background: linear-gradient(#2B75B6, #BCD2CF);
    border-radius: 8px;
    padding: 15px;
    text-align: justify;
    color: white;
    box-shadow: 5px 5px 5px silver;
 }

.marnico{
    display: flex;
    justify-content: space-around;
}

.welcome {
	text-align: center;
}

.bienvenue { 
	font-family: URW Chancery L, cursive;
	font-size: 45px;
	 }

footer{

    font-size: 20px;
    font-family: Times New Roman,impact,arial,verdana;
    color: black;
    font-weight: bold;
    text-align: center;
    background-image: url(swirl-clipart-black-and-white-4.png);
}

.imageFlottante{
align-items: center;

}

.ul{
    display: flex;
}

footer a{
font-family: arial;
text-decoration: none;
font-size: 20px;
color: black;
align-content: center;
background-color: rgba(255,255,255, 0.6);
padding: 15px;
border-radius: 5px;

}

.foot {

    font-size: 10px;
    color: white;
    font-family: arial;
    font-weight: bold;
    align-content: center;
    text-align: center;
    padding: 15px;
    
}

.imgfoot{
    margin-top: 100px;
}

iframe {
    display: block;
    margin: auto;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}

#activites {
    font-size: 18px;
}

.activites {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row;
}

.activites img {
    border-radius: 3px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
            margin: 0 auto;
    padding-top: 50px;
}

.activites p {
    width: 40%;
    margin: auto;
    padding-bottom: 50px;
}

.actFoot {
    padding-top: 50px;
}

.actimg {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    border: 1px solid black;
}

.actext {
    border: 1px solid black;
    width: 50%;
}

/*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;*/