@import url("../nirvana.css");

body {
	color: white;
}

.chooseATrip {
	padding-top: 150px;
}

.price {
	padding-top: 150px;
	display: none;
}

.fillUpForm {
	padding-top: 150px;
	display: none;
}

.confirmation {
	padding-top: 150px;
	display: none;
}